$m-space: 5px;
$m-width: 26px;
$m-height: 4px;
$m-color: #fff;

.m-check {
	display: none;
}
.m-toggle {
	display: none;
	align-items: center;
	padding: 1rem;
	margin: 0;
	cursor: pointer;
	position: relative;
	-webkit-font-smoothing: antialiased;
}

.m-ul {
	display: flex;
}



/* Small Devices, Tablets */
@media only screen and (max-width: $menu-point) {
	.adaptive-menu {
		position: relative;
	}

	.m-ul {
		top: 100%;
		left: 0;
		width: 100%;
		list-style: none;
		flex-direction: column;
	}

	.m-ul li:nth-child(n) {
		display: block;
		width: 100%;
		padding: 0 1rem;
		margin: 0;
		overflow: hidden;
		max-height: 0;
		width: 100%;
		transition: all 600ms cubic-bezier(0.17, 0.04, 0.03, 0.94);

		a {
			display: block;
			width: 100%;
		}
	}
	.m-ul.right li {
		text-align: right;
	}
	.m-toggle {
		display: flex;
	}
	.m-ul.right .m-toggle {
		justify-content: flex-end;
	}

	.m-check:checked ~ .adaptive-menu li {
		margin: 1rem 0;
		max-height: 1.5rem;
	}
	.m-toggle span {
		display: block;
		width: $m-width;
		height: $m-height;
		background-color: $m-color;
		margin: $m-space 0;
		transition: 0.4s;
	}

	/* Rotate first bar */
	.m-check:checked ~ .adaptive-menu .m-toggle span:first-child {
		-webkit-transform: rotate(-45deg) translate(-1*(2+$m-space+$m-height), 50%) ;
		transform: rotate(-45deg) translate(-1*(2+$m-space+$m-height), 50%) ;
	}

	/* Fade out the second bar */
	.m-check:checked ~ .adaptive-menu .m-toggle span:not(:first-child):not(:last-child) {
		opacity: 0;
	}

	/* Rotate last bar */
	.m-check:checked ~ .adaptive-menu .m-toggle span:last-child {
		-webkit-transform: rotate(45deg) translate(-1*(2+$m-space+$m-height), -50%) ;
		transform: rotate(45deg) translate(-1*(2+$m-space+$m-height), -50%) ;
	}
}



