@import "fonts";
@import "libs";
@import "vars";
@import "normalize";
@import "adpt-menu";


html, body {
	--backimg: url("http://localhost:3000/img/1.jpg");
}

h1 {
	font-size: 6.57rem;
	margin: 0;
}

h2 {
	font-size: 3rem;
	line-height: 1.65;
	color: $main-text;
	font-family: 'Alegreya', sans-serif;
}

h3 {
	font-size: 2rem;
	line-height: 1.65;
	color: $main-text;
	font-family: 'Alegreya', sans-serif;
}


h6 {
	font-size: 1.5rem;
	margin: 0;
	color: $main-text;
	font-family: 'Alegreya', sans-serif;
}

p {
	font-size: 0.875rem;
	color: $main-text;
}

a {
	text-decoration: none;
	transition: all .4s ease;
	color: #fff;
	letter-spacing: 3px;

	&:visited {
		text-decoration: none;
		outline: none;
	}

	&:link {
		text-decoration: none;
		outline: none;
	}

	&:hover {
		text-decoration: none;
		outline: none;
		color: #ddd;
	}

	&:active {
		text-decoration: none;
		outline: none;
	}

}

.white-bg{
	background-color: #FFF;
}

.jcc {
	justify-content: center;
}

.btn {
	outline: none;
	cursor: pointer;
	background-color: transparent;
	border: none;
	text-transform: uppercase;
	border-radius: 0;
	font-family: "Alegreya", serif;
	letter-spacing: 3px;
	font-weight: bold;
	padding: 1em 4em;
	transition: all 0.4s ease;

	&:active {
		outline: none;
	}

	&:hover {
		transition: all 0.4s ease;
	}
}

.section {
	position: relative;
	padding: 5rem 0;
	box-shadow: 0 0.5rem 3rem rgba(0,0,0,0.2);

	&-text {
		margin-top: 4rem;
	}

	&-light {
		color: #fff;
	}

	&-title {
		font-size: 3rem;
		letter-spacing: 3px;
		line-height: 1;
		text-align: center;
	}

	&-subtitle {
		text-transform: uppercase;
		font-family: 'Alegreya', sans-serif;
		color: $brown-lite;
		text-align: center;
	}
}

.title, .subtitle {
	font-family: 'Alegreya', sans-serif;
}

.title {
	font-size: 3rem;
	line-height: 1;
}

.subtitle {
	text-transform: uppercase;
	color: $brown;
}

// .header

.m-check:checked ~ .adaptive-menu {
	background-color: darken($glass-black, 100);
	transition: all .5s ease;
}

.header {
	min-height: 100vh;
	background-image: url("../img/main.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 10;

	&-top {
		position: absolute;
		background-color: $glass-black;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 11;
	}

	&-nav {
		color: #fff;
		list-style: none;
		margin: 0;
		padding: 0;


		&-wrapper {
			display: flex;
			min-height: 5em;
			justify-content: space-between;
			align-items: center;
			transition: all 0.5s ease;
		}

		&-logo {
			color: #fff;
			font-family: "scriptina", serif;
			font-size: 2em;
			padding: 0 1rem;
			margin-bottom: 1rem;

			&:hover {
				color: #ccc;
			}
		}

		&-link {
			text-transform: uppercase;
			display: inline-block;
			color: #fff;
			font-family: 'Alegreya', sans-serif;
			font-weight: 400;
			font-size: 14px;

			@media screen and (min-width: $menu-point) {
				&:before {
					margin: 0 2em;
				}

				&:not(:first-of-type):before {
					content: '∽';
				}	
			}
		}
	}

	&-socials {
		margin: 0;
		padding: 0;
		order: 3;
		
		a {
			margin: 0 0.5rem;
		}

		@media screen and (max-width: $menu-point) {
			display: none;
		}
	}

	&-content {
		display: flex;
		margin-top: 4rem;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	&-subtitle {
		font-family: "monserat", serif;
		margin: 3rem 0;
		color: #fff;
		font-weight: 400;
		max-width: 550px;
	}

	&-title {
		color: #fff;
		font-size: 6rem;
		margin: 2rem 0;
		font-family: "Playfair Display", serif;
		text-shadow: 0 1px 0 #3d3029;
	}

	&-btn {
		background-color: $glass-black;
		margin-bottom: 5em;
		color: #fff;
		border: 1px dashed rgba(255,255,255,0.5);

		&:hover {
			background-color: darken($glass-black, 10);
		}

	}

	&-bottom {
		position: absolute;
		bottom: -4.5em;
		height: 9em;
		width: 9em;
		display: flex;
		justify-content: center;
		align-items: center;

		&:before {
			content: '';
			position: absolute;
			border-radius: 50%;
			left: 50%;
			top: 50%;
			transform: translate(-2.5rem, -2.5rem);
			height: 5rem;
			width: 5rem;
			background-color: #fff;

		}

		&-logo {
			position: relative;
		}
	}
}

// .art 

.art {
	background-image: url("../img/art-bg.jpg");
	background-size: cover;
	text-align: center;
	z-index: 9;

	&-chef {
		margin-top: 2rem;
		display: flex;
		justify-content: center;
		align-items: center;

		&-name {
			padding: 0.75rem 1rem;
			margin: 0 1rem;
			display: inline-block;
			border-top: 1px solid $main-text;
			border-bottom: 1px solid $main-text;
			font-weight: 400;
		}

		&-img {
			height: 7rem;
			width: 7rem;
			display: inline-block;
			border-radius: 50%;
			background-image: url("../img/chef1.jpg");
			background-size: 250%;
			background-position: 25% 0;
		}
	}

	&-cite {
		font-family: 'scriptina', sans-serif;
		color: $brown;
		font-size: 1.5rem;
		padding: 0 3rem;
		position: relative;
		display: inline-block;
		margin-top: 2rem;

		&:before {
			content: '“';
			position: absolute;
			left: -1rem;
			top: -1rem;
			font-size: 4rem;
			font-weight: 400;
			font-family: 'Times New Roman', serif;
			color: $main-text;
			opacity: .4;
		}
		&:after {
			content: '”';
			position: absolute;
			right: -1rem;
			font-size: 4rem;
			font-weight: 400;
			font-family: 'Times New Roman', serif;
			color: $main-text;
			opacity: .4;
		}
	}

	&-gallery {
		// margin: 0.5rem;
		position: relative;
		display: block;
		height: 100%;
		
		&-wrapper {
			padding: 0.5rem;

			@for $i from 1 through 4 {
				&:nth-child(#{$i})>span {
					background-image: url("../img/art-#{$i}.jpg");
				}
			}
		}

		&:after {
			content: '';
			position: absolute;
			$s: 8px;
			left: $s;
			right: $s;
			bottom: $s;
			top: $s;
			border: 5px solid #fff;
		}

		&-container {
			position: relative;
			min-height: 25rem;
			margin: 0;
		}

		&-label {
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 60%;
			width: 60%;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%); 
			background: url('../img/art-label.svg') no-repeat center center;
			background-size: contain;
			opacity: 0.97;

			&-content {
				color: $brown;
				text-transform: uppercase;
				font-weight: 400;
				opacity: 0.8;
			}

		}
	}
}

// .gallery

.gallery {
	background: url("../img/gallery-bg.jpg") no-repeat center 0;
	background-size: cover;
	z-index: 8;

	// --backimg: url("../img/1.jpg");

	&-bigImg {
		
		background-size: cover;
		display: flex;
		height: 32rem;
		position: relative;
		justify-content: flex-start;
		align-items: center;
		min-height: 20rem;
		color: #fff;
		filter: drop-shadow($shadow);

		&:before {
			content: '';
			position: absolute;
			z-index: -1;
			background-image: var(--backimg);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		
		@include media-breakpoint-up(lg) {	
			&:hover {
				&:before {				
					clip-path: polygon(0 0, 100% 0%, 100% 100%, 13% 100%, 0% 90%);
				}
				&:after {
					width: 13%;
					height: 10%;
				}
			}
			&::before {
				
				clip-path: polygon(0 0, 100% 0%, 100% 100%, 10% 100%, 0% 93%);
				transition: all .5s ease;
			}

			&::after {
				content: '';
				position: absolute;
				background-color: #FFF;
				bottom: 0;
				left: 0;
				width: 10%;
				height: 7%;	
				transition: all .5s ease;
				clip-path: polygon(0 0, 100% 12%, 100% 100%, 0% 0%);
			}
		}
		
		

		&-content {
			font-size: 1.2rem;
			margin: .5rem;
			display: block;
		}
	}

	&-slider {

		overflow: hidden;
		padding: 0;

		&-nav {
			--color: $brown;
			border: 1px solid var(--color);
			width: 1.5rem;
			height: 1.5rem;
			border-radius: 50%;
			display: flex;
			color: var(--color);
			align-items: center;
			justify-content: center;
			transition: all .3s ease;
			cursor: pointer;

			.fa {
				transition: all .3s ease;
			}

			&:hover {
				--color: #000;
				color: #000;
			}
		}

		&-wrapper {
			margin-left: -3rem;
			margin-right: -3rem;
			margin-bottom: 2rem;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&-item {
			height: 1vw;
			width: 100%;
			border-radius: 50%;
			background-position: center center;
			background-size: cover;
			display: inline-block;
			cursor: pointer;

			&:hover {
				box-shadow: 0 2px 4px rgba(0,0,0,0.5);
			}

			&.item-1 {
				background-image: url("../img/1.jpg");
			}
			&.item-2 {
				background-image: url("../img/2.jpg");
			}
			&.item-3 {
				background-image: url("../img/3.jpg");
			}
			&.item-4 {
				background-image: url("../img/4.jpg");
			}

			&-wrapper {
				display: inline-block;
				position: relative;
				width: 54px;
			}
		}
	}

	&-wrapper {
		padding-left: 2rem;
		padding-right: 2rem;
	}

	&-content {
		padding-top: 5rem;
		padding-left: 3rem;
		padding-right: 3rem;
		text-align: left;
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		box-shadow: $shadow;
		background-image: url("../img/text-bg.svg");
		background-repeat: no-repeat;
		background-position: right bottom;

	}

	&-ready {
		background-color: #FFF;
		background-image: url("../img/ready.svg");
		background-repeat: no-repeat;
		background-position: right bottom;
		background-size: cover;
		display: inline-block;
		text-align: center;
		padding: 1rem 0;
		width: 170px;
		position: absolute;
		bottom: 105%;
		left: 50%;
		transform: translate(-50%, 50%);
		box-shadow: -10px 10px 35px rgba(0,0,0,0.3);

		&-text {
			font-size: 18px;
			font-family: 'Alegreya', serif;
			color: #979285;
		}

		@include media-breakpoint-up(lg) {
			bottom: 90%;
			left: 100%;
		}

		&-title {
			margin: 0;
			font-weight: bold;
			color: $brown;
		}
	}
	

	&-menu {
		color: $brown;
		position: absolute;
		right: 100%;
		top: 50%;
		transform: translate(50%,-50%) rotate(-90deg);
		background-color: #FFF;
		width: 3rem;
		height: 3rem;
		display: none;
		justify-content: center;
		align-items: center;
		border-radius: 50%;

		@include media-breakpoint-up(lg) {
			display: flex;
		}
	}
}
.mins {
	color: $yellow;
	font-family: 'Alegreya', sans-serif;
	font-size: 6rem;
	font-weight: bold;
	line-height: 0.75;

	&-black {
		font-size: 4rem;
		color: $main-text;
	}
}
/* the slides */
.slick-slide {
	margin: 0 0.5rem;
}
/* the parent */
.slick-list {
	margin: 0 0.5rem;
}

// section
.breakfast {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	background-image: url("../img/breakfast.jpg");
	text-align: center;

	&-content {
		margin-top: 2rem;
	}

	&-title {
		color: #fff;
		font-size: 1.7rem;
		font-family: 'Alegreya', sans-serif;
		letter-spacing: 3px;
		margin: 0;
	}

	&-subtitle {
		color: #c2beba;
		font-family: $default-font;
		margin: 0;
	}

	&-price {
		color: $yellow;
		font-family: 'Alegreya', sans-serif;
		font-size: 2rem; 

	}
}

.bk {
	position: relative;

	&-back {
		position: absolute;
		left: 20%;
		right: -1.4rem;
		top: 2rem;
		bottom: 2rem;
		box-shadow: $shadow;
		background-color: #f3f1e9;

		&::before {
			position: absolute;
			content: '';
			position: absolute;
			border: 1px dashed $main-text;
			left: 2%;
			right: 2%;
			top: 2%;
			bottom: 2%;
		}

		&2 {
			right: -0.7rem;
			top: 1rem;
			bottom: 1rem;
			background-color: #f3f1e9;
		}
	}
}

.bk-card {
	height: 100%;
	padding: 2rem;
	justify-content: space-around;
	align-items: center;
	display: flex;
	flex-direction: column;
	transition: all .5s ease;
	background-image: url("../img/bk-card.svg");
	background-repeat: no-repeat;
	background-position: 300% 125%;
	background-color: #f3f1e9;
	clip-path: polygon(0 0, 100% 0%, 100% 100%, 10% 100%, 0% 93%);

	&-wrapper {
		position: relative;
		display: flex;
		height: 100%;
		max-width: 800px;
		filter: drop-shadow($shadow);

		&:hover {
			.bk-card {
				clip-path: polygon(0 0, 100% 0%, 100% 100%, 14% 100%, 0% 90%);
				
				&::before {
					clip-path: polygon(0 0, 100% 0%, 100% 100%, 10% 100%, 0% 93%);
				}
				&::after {
					width: 14%;
					height: 10%;
				}
			}
		}
	}
	&:before {
		content: '';
		position: absolute;
		clip-path: polygon(0 0, 100% 0%, 100% 100%, 8% 100%, 0% 95%);
		border: 1px dashed $main-text;
		z-index: -1;
		left: 2%;
		right: 2%;
		top: 2%;
		bottom: 2%;
		transition: all .5s ease;
	}		

	&:after {
		content: '';
		position: absolute;
		background-color: #fff;
		bottom: 0%;
		left: 0%;
		width: 10%;
		height: 7%;	
		transition: all .5s ease;
		clip-path: polygon(0 0, 100% 12%, 100% 100%, 0% 0%);
	}

	&-info {
		font-size: 1rem;
	}

	&-title {
		margin-top: 1.5rem;
		font-size: 2.5rem;
	}

	&-main {
		max-width: 350px;
		color: $main-text;
	}
	
	&-content {
		font-family: $default-font;
		font-size: calc(14/16*1rem);
		font-weight: 400;
	}

	&-btn {
		color: $brown;
		border: 1px solid $brown;
		padding: 0.5rem 4rem;
		margin-top: 3rem;

		&:hover {
			color: $brown-lite;
			border: 1px solid $brown-lite;
		}
	}
}

.footer {
	background-color: #f3f1e9;
	background-image: url("../img/footer-bg.svg");
	background-position: top center;
	background-repeat: no-repeat;
	padding-bottom: 3rem;


	&-nav {
		color: $main-text;
		border-top: 1px solid rgba(0,0,0,0.2);
		border-bottom: 1px solid rgba(0,0,0,0.2);
		display: flex;
		align-items: center;
		margin: 0;
		padding: 0 2.5rem;
		flex-direction: column;

		@include media-breakpoint-up(lg) {
			flex-direction: row;
		}

		&-link {
			@extend .header-nav-link;
			color: $main-text;
			padding: 1rem 0rem;

			&:before {
				margin: 0 2rem;
			}

			a {
				color: $main-text;

				&:hover {
					@extend a:hover;
				}
			}
		}

		&-menu {
			margin-top: 5rem;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		&-logo {
			@extend .header-nav-logo;
			color: $main-text;
		}
	}

	&-list {
		text-align: center;
		margin-bottom: 2rem;

		@include media-breakpoint-up(lg) {
			margin-bottom: 0;
		}

		&-item {
			margin-top: 2rem;
		}

		&-title {
			color: $brown;
		}

		&-img {
			width: 12vh;
			box-shadow: $shadow-lite;
			height: 12vh;
			border-radius: 50%;
			background-size: cover;
			background-position: center top;
			display: inline-block;

			&.i1 {
				background-image: url("../img/footer-1.jpg");
			}
			&.i2 {
				background-image: url("../img/footer-2.jpg");
			}
			&.i3 {
				background-image: url("../img/footer-3.jpg");
			}
		}
	}

	&-recipe {
		display: flex;
		align-items: center;
		justify-content: flex-end;

		&-content {
			position: relative;
			width: 100%;
			height: 70%;
			min-height: 400px;
			filter: drop-shadow($shadow-lite);

			@include media-breakpoint-up(lg) {
				width: 85%;
			}
		}

		&-info {
			right: 5px;
			text-align: center;
			bottom: -1rem;
			top: -1rem;
			position: absolute;
		}

		&-prep {
			background-color: rgba(255,255,255,0.8);
			padding: 1rem 0;
			margin-top: 2px;
			height: 33%;
			display: flex;
			padding: 1rem;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		&-ready {
			background-color: #FFF;
			background-image: url("../img/ready.svg");
			background-repeat: no-repeat;
			background-position: right bottom;
			background-size: cover;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 1rem;
			width: 170px;
			height: 33%;

			&-text {
				font-size: 18px;
				font-family: 'Alegreya', serif;
				color: #979285;
			}

			&-title {
				margin: 0;
				letter-spacing: 2px;
				font-weight: bold;
				font-family: 'Alegreya', serif;
				color: $brown;
			}
		}

		&-img {
			height: 100%;
			width: 100%;
			background-image: url("../img/footer-main.jpg");
			background-repeat: no-repeat;
			background-size: contain;
		}

		&-btn {
			position: absolute;
			bottom: -1rem;
			padding-left: 2rem;
			padding-right: 2rem;
			left: -1rem;
			color: $yellow;
			background-color: #FFF;
			border: 1px dashed $yellow;

			&:hover {
				color: $brown-lite;
				border: 1px dashed $brown;
			}

			@include media-breakpoint-down(lg) {
				bottom: -1rem;
				left: 1rem;
			}
		}
	}
}

